html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*===============
      TEXT
================*/
h1, h2, h3 {text-transform: uppercase; font-family: 'Arial', 'Sans-serif'; text-align: center;}
h1 {font-size: 1.75rem;}
h2 {font-size: 1.50rem;}
h3 {font-size: 1.25rem;}
p {font-size: 1rem;}
ul {list-style: none;}
a {text-decoration: none;}

/*===============
     IMAGES
================*/
.logo {height: 120px; width: 120px;}

/*===============
     LAYOUT
================*/
.layout-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  gap: 0;
}

/*===============
     HEADER
================*/
header {
  background-color: #3169a7;
  color: white;
  display: flex;
  padding: 20px 80px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/*===============
       NAV
================*/
nav {
  background-color: #fcd116;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: bold;
}

nav ul li {
  color: #3D2B00;
}

nav ul li a {
  display: block;
  padding: 10px;
  color: #3D2B00;
}

.nav-item {
  padding: 8px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  background-color: #fcd116;
}

.nav-item.inactive {
  border-left: 1px solid #e0b700;
  border-right: 1px solid #e0b700;
  background-color: #e0b700;
}

/*===============
      MAIN
================*/

.aside-container {
  position: relative;
  height: 85px;
  width: 85px;
  background-color: #3169a7;
}

.aside-container aside {
  margin: 0;
  padding: 30px;
}

.aside-container aside a {
  font-weight: bold;
  color: white;
}

.aside-container .sidebar-container {
  display: block;
  position: absolute;
  top: 5%;
  bottom: 95%;
  left: 100%;
  width: auto;
}

.aside-container aside .sidebar-container ul {
  display: block;
  height: auto;
  background-color: #fcd116;
}

.aside-container aside .sidebar-container ul li {
  margin: 0;
  padding: 10px;
  width: 300px;
}

.aside-container aside .sidebar-container ul li a{
  color: #3D2B00;
}

.aside-container aside .sidebar-container {
  display: none;
}

.aside-container aside:hover > .sidebar-container {
  display: block;
}

/*===============
      ARTICLE
================*/

.simple-content {
  display: flex;
  flex-wrap: flex;
  width: auto;
  text-align: justify;
  margin: 0;
  padding: 30px;
}

.box-content {
  width: auto;
  padding: 0 1rem;
  margin: 2rem 0;
}

.box-content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 1.5rem; 
  background: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.box-content ul li {
  flex: 1 1 clamp(250px, 20%, 300px);
  background-color: lightgrey;
  padding: 1.5rem;
  border-radius: 8px;
  box-sizing: border-box;
 }

.simple-img {
  width: 100%;
  height: auto;
}

.box-image ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 15px;
  list-style: none;
}

.box-image ul li {
  position: relative;
  display: block;
}

.box-image ul li span {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  background-color: #fcd116;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.box-image ul li img {
  display: block;
  height: 300px;
  width: 300px;
  border-radius: 30px;
}

/*===============
      HERO
================*/

.hero {
  background-image: url('../images/tarlac-hero-section.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  overflow-x: hidden;
}

.hero-content {
  text-align: justify;
  color: white;
  width: 50ch;
} 

.hero-content h2 {
  font-size: 2.5rem;
} 

.hero-content p {
  font-size: 1.5rem;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #fcd116;
  color: #3D2B00;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  margin-top: 1rem;
 }

/*===============
     FOOTER
================*/
footer {
    background-color: #3169a7;
    color: white;
    margin: 0;
    padding: 10px;
}

.footer-content {
    text-align: center;
}

.footer-section-copyright p {
    margin: 10px;
}

footer a {
    color: #FCE300;
}

.contact-us ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 20px;
}

.contact-us ul li img{
    display: inline-block;
    vertical-align: middle;
}
